<!DOCTYPE html>
<html lang="en" lang="en">
    <% console.log("Layout included"); %>
    <%- include('../partials/head', { title: 'title' }) %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

            <main>
                <%- include ('../partials/body')%>
            </main>

            <%- include('../partials/footer') %>
        </div>
    </body>
</html>