<!-- ./inventory/classification.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', { title: 'title' }) %>
</head>
<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>

    <main>
      <h1>List of Cars</h1>
      <ul>
        <% cars.forEach((car) => { %>
          <li>
            <h2><%= car.make %> <%= car.model %></h2>
            <!-- Display other car information here -->
          </li>
        <% }); %>
      </ul>
    </main>

    <%- include('../partials/footer') %>
  </div>
</body>
</html>
